@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@1,700&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Andika', sans-serif;
    font-weight: 700;
    max-width: 2000px;
    text-align: center;
    font-size: 1.2rem;
}
/* Game area */
.two-colors {
    font-weight: bold;
	background: linear-gradient(to bottom,#ff1e90 55%, #6495ed 45%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

i {
    color: #95ed64;
}